<h1><%= @article.title %></h1>
<p>
	Tags:
	<% @article.tags.each do |t| %>
		<%= link_to t, tag_path(t) %>
	<% end %>
</p>
<p><%= image_tag @article.image.url if @article.image.exists? %></p>
<p><%= @article.body %></p>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Articles List", articles_path %>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<h3>Comments (<%= @article.comments.length %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>